<!doctype html>
<html>
  <head>
     <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B6XZF754NX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-B6XZF754NX');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Every90sanime - Subtle Anime Merch everyday - Organic cotton and quality printing" %></title>
    <meta name="description" content="Cheap Retro Anime Merch made in Portugal - 100% Organic cotton with 180g/m2 - Subtle, comfy and durable - Printed only with water based ink (non toxic)"/>

    <meta property="og:title" content="Every90sanime - Subtle Anime Merchandise Everyday">
    <meta property="og:url" content="https://every90sanime.com">
    <meta property="og:description" content="Cheap Retro Anime Merch made in Portugal - 100% Organic cotton with 180g/m2 - Subtle, comfy and durable">
    <meta property="og:image" content= "https://res.cloudinary.com/dsbz0g917/image/upload/v1663624716/Lina_1-2.jpg">

    <link href="stylesheets/site.css" rel="stylesheet" />
    <script src="/javascripts/site.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
 
  </head>
  <body>
    <%= yield %>
  </body>
</html>
