.posts {
  max-width: 90vw; }

.mg-auto {
  margin: auto !important; }

.product-description {
  padding-bottom: 10vh !important; }

.container {
  padding: 0px 24px 0px 0px;
  max-width: 100vh;
  margin: 0px; }

.banner {
  margin: auto;
  text-align: center;
  padding: 16px;
  height: 100vh; }
