.posts {
  max-width: 90vw; }

.mg-auto {
  margin: auto !important; }

.product-description {
  padding-bottom: 10vh !important; }

.container {
  padding: 0px 24px 0px 0px;
  margin-right: auto;
  margin-left: auto; }

.banner {
  margin: auto;
  text-align: center;
  padding: 16px;
  height: 100vh; }

.iframe {
  max-width: 400px;
  margin: 0 auto; }
