.parallax {
    padding-top: 70px; 
    padding-bottom: 70px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 70vh;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
 
.parallax-product {
    background-image: -webkit-gradient, linear, left top, left bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), url(https://res.cloudinary.com/dsbz0g917/image/upload/v1663625003/Lina_1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(https://res.cloudinary.com/dsbz0g917/image/upload/v1663625003/Lina_1.jpg);
}

.parallax-cta {
    background-image: -webkit-gradient, linear, left top, left bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), url(https://res.cloudinary.com/dsbz0g917/image/upload/v1663625003/Ranma_1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(https://res.cloudinary.com/dsbz0g917/image/upload/v1663625003/Ranma_1.jpg);
}

@media screen and (max-width: 959px) {
 
.parallax-product {
    background-image: -webkit-gradient, linear, left top, left bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), url(https://res.cloudinary.com/dsbz0g917/image/upload/v1663624716/Lina_1-2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(https://res.cloudinary.com/dsbz0g917/image/upload/v1663624716/Lina_1-2.jpg);
}

.parallax-cta {
    background-image: -webkit-gradient, linear, left top, left bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), url(https://res.cloudinary.com/dsbz0g917/image/upload/v1663624716/Ranma_1-2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(https://res.cloudinary.com/dsbz0g917/image/upload/v1663624716/Ranma_1-2.jpg);
}

}