<div class="banner">
  <img class="logo fade-in" src="images/Logo.png">
  <h1 class="fade-in delayed main-title">Subtle anime merchandise to be used everyday</h1>
  <p class="teaser blink">keep scrolling</p>
</div>


<div class="parallax parallax-main">
  <h2 class="text-center section-title">Oh no... <br><br> another t-shirt business...</h2>
</div>

<p>Yes very sad we totally understand</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <ul>
        <li>Ui ui</li>
        <li>Mais ui ui</li>
        <li>Bue ui ui</li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-6">
      <p>Imagem</p>
    </div>
  </div>
</div>



</div>

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class="card animate fadeInUp one">

      <%= partial "post1" %>

      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card animate fadeInUp one">

        <%= partial "post2" %>

      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card animate fadeInUp one">

      <%= partial "post3" %>

     </div>
    </div>
        
  </div>
</div>