<div class="banner">
  <img class="logo fade-in" src="images/Logo.png">
  <h1 class="fade-in delayed main-title">Subtle anime merchandise to be used everyday</h1>
  <p class="teaser blink">keep scrolling</p>
</div>


<div class="parallax parallax-main">
  <h2 class="text-center section-title">Oh no... <br><br> another t-shirt business...</h2>
</div>

<p class="section-description">Yes very sad anyway, we totally understand bla bla bla super texto mesmo bueda characteres so pra encher e mostrar que ha muita coisa pra dizer ui ui granda cena tudo a comprar vale gracias</p>

<div class="container product-description">
  <div class="row">
    <div class="col-xs-12 col-sm-6 mg-auto">
      <ul>
        <li>Made for Retro Anime fans. We, just like you, struggle a lot to find good quality clothes from 90s anime hits. That time is over!</li>
        <li>High quality cotton and grammage - you can wash it often without getting concerned about its durability</li>
        <li>Super comfy - We make our shirts with 100% organic cotton, certified by Control Unit (OCS100)</li>
        <li>Sustainability - Apart from using only certified organic cotton, we only use water based inks to print. No plastics or other toxic materials are used here</li>
        <li>Subtle. With our clothes you don't have to be concerned if using an anime shirt is appropriate or not. We designed our clothes with the everyday usage in mind</li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-6 mg-auto">
      <img src="https://www.violinschool.com/wp-content/uploads/2020/04/Nature-Amazing-Grace-600px-400px-2.jpg">
    </div>
  </div>
</div>

<div class="parallax parallax-main">
  <h2 class="text-center section-title">How to find more about our project</h2>
</div>

<p class="section-description">Yes very sad anyway, we totally understand bla bla bla super texto mesmo bueda characteres so pra encher e mostrar que ha muita coisa pra dizer ui ui granda cena tudo a comprar vale gracias</p>

<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <div class="card animate text-center">

      <%= partial "post_embed" %>

      </div>
    </div>
        
  </div>
</div>

<p class="teaser">Made with love by Every90sanime</p>
